.add-profile-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.add-profile__form {
    display: flex;
    flex-flow: column;
}

.add-profile__form__input {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.add-profile__form__input > input {
    flex-basis: 60%;
    border: 0px;
    border-bottom: 1px solid gray;
    outline: none;
}

.add-profile__form__button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.add-profile__form-fields {
    display:flex;
    flex-direction: column;
}